<p> Please enter your phone number to receive updates for the daily specials at Block 16!</p>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<%= form_for @phone do |form| %>

		<div>
			<%= form.label :number %>
			<%= form.text_field :number %>
		</div>

	<%= form.submit %>
<% end %>