<div class="container">
	<img src="assets/home-block16.png" alt=""/><br>
	<div class="merriweather"> Please enter your phone number to receive<br> updates for the daily specials at Block 16!</div><br>

	
	<% flash.each do |key, value| %>
	  <%= content_tag :div, value, class: "flash #{key} merriweather" %>
	<% end %>

	<%= form_for @phone do |form| %>

			<div>
				<%= form.label :number, class: "merriweather" %>
				<%= form.text_field :number %>
			</div><br>

		<div class="container"><%= form.submit "Submit My Number", class: "button" %></div>
	<% end %>
</div>